/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  /* Navigation */
  nav {
    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  /* Main Content */
  main {
    padding: 20px;
  }
  
  .contributors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; /* Increase the gap value to create more space */
  }
  
  .tile {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
  }
  
  .tile h3 {
    margin: 0;
  }
  
  .tile p {
    margin: 10px 0;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  

  
